################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SQLite-Net.Extensions.Readers/obj/Debug
